body {
    background: #f6f6f6;
}

a {
    color: unset;
    text-decoration: none;
}

.medisync__demo_bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
    padding: 6rem;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;

}

.medisync__demo_bg h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    text-transform: capitalize;
}

.medisync__demo_bg p {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    padding: 2rem;
}

.medisync__demo_bg button {
    padding: 17px 55px;
    margin: 0 auto;
    color: #fff;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    background: #460570;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .medisync__demo_bg p {
        font-size: 20px;
        line-height: 26px;
        padding: 2rem 0;
    }

    .medisync__demo_bg h1 {
        font-size: 40px;
        line-height: 45px;
    }
}

@media screen and (max-width: 490px) {
    .medisync__demo_bg {
        padding: 4rem 2rem;
    
    }
}

